.app-container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1e293b;
    color: #fff;
    transition: 0.3s;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER & FOOTER */
.topbar {
    background: #fff;
    padding: 10px;
}


